.nosotros p {
    font-size: var(--h3-font-size);
    line-height: 2.2rem;
}

.nosotros {
    text-align: left;
}

.nosotros h2 {
    color: var(--second-color);
}

.nosotros h2 span {
    color: var(--first-color);
}

.calidad {
    color: var(--second-color);
}

.compromiso {
    color: var(--first-color);
}